{% extends 'accountbase/base.html' %}
{% load static %}

{% block content %}

    <div class="container">
    	<div class="row">
            <div class="col-lg-6" style="text-align:center">
                <div class="big-ad">
                    <!-- <figure><img src="{% static 'images/logo2.png' %}" alt=""></figure> -->
                    <h1>Welcome to the Dispatch</h1>
                    <p>
                        
                          Pitnik is a social network template that can be used to connect people. use this template for multipurpose social activities like job, dating, posting, bloging and much more.
                          Now join & Make Cool Friends around the world !!!

                    </p>

                    <div class="fun-fact" style="text-align:center">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="fun-box">
                                    <i class="ti-check-box"></i>
                                    <h6>Registered People</h6>
                                    <span>1,01,242</span>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="fun-box">
                                    <i class="ti-layout-media-overlay-alt-2"></i>
                                    <h6>Posts Published</h6>
                                    <span>21,03,245</span>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="fun-box">
                                    <i class="ti-user"></i>
                                    <h6>Online Users</h6>
                                    <span>40,145</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="barcode">
                        <figure><img src="{% static 'images/resources/Barcode.jpg' %}" alt=""></figure>
                        <div class="app-download">
                            <span>Download Mobile App, QR code _ Coming Soon !</span>
                            <ul class="colla-apps">
                                <li><a title="" href="#"><img src="{% static 'images/android.png' %}" alt="">android</a></li>
                                <li><a title="" href="#"><img src="{% static 'images/apple.png' %}" alt="">iPhone</a></li>
                                <li><a title="" href="#"><img src="{% static 'images/windows.png' %}" alt="">Windows</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- <div class="barcode">
                        <figure><img src="{% static 'images/resources/Barcode.jpg' %}" alt=""></figure>
                        <div class="app-download">
                            <span>Download Mobile App and Scan QR Code to login</span>
                            <ul class="colla-apps">
                              <li><a title="" href="https://play.google.com/store?hl=en"><img src="{% static 'images/android.png' %}" alt="">android</a></li>

                                <li><a title="" href="https://www.apple.com/lae/ios/app-store/"><img src="{% static 'images/apple.png" alt="">iPhone</a></li>
                                <li><a title="" href="https://www.microsoft.com/store/apps"><img src="{% static 'images/windows.png" alt="">Windows</a></li>
                            </ul>
                        </div>
                    </div> -->
                </div>
            </div>

            <div class="col-lg-4">
                <div class="we-login-register">
                    <div class="form-title">
                        <i class="fa fa-key"></i>login
                        <span>sign in now and meet the awesome Friends around the world.</span>
                    </div>
                    <form class="we-form" action="{% url 'login' %}" method="post">{% csrf_token %}
                        <input type="text" name="username" placeholder="Username">
                        <input type="password" name="password" placeholder="Password">
                        <!-- <input type="checkbox"><label>remember me</label> -->
                        <button type="submit" data-ripple="">sign in</button>
                        <a class="forgot underline" href="login.html#" title="">forgot password?</a>
                    </form>
                    <span>don't have an account? <a class="we-account underline" href="{% url 'signuphtml' %}" title="">register now</a></span>
                </div>
            </div>

        </div>
    </div>
{% endblock content %}
