{% extends 'base.html' %}
{% load static %}
{% block content %}
<section>
  <div class="gap gray-bg">
    <div class="container">
      <br>
      <div class="row merged20">
        <div class="col-lg-9">
          <div class="forum-warper">
            <div class="central-meta">
              <div class="title-block">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="align-left">
                      <h5> Update Post </h5>
                    </div>
                  </div>
                  <!-- <div class="col-lg-6">
                    <div class="row">
                      <div class="col-lg-7 col-md-6">
                        <form method="post">
                          <input type="text" placeholder="Search...">
                          <button type="submit"><i class="fa fa-search"></i></button>
                        </form>
                      </div>
                      <div class="col-lg-4 col-md-4">
                        <div class="select-options">
                          <select class="select">
                            <option>Sort by</option>
                            <option>See All</option>
                            <option>Newest</option>
                            <option>oldest</option>
                            <option>A to Z</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-lg-1 col-md-2">
                        <div class="option-list">
                          <i class="fa fa-ellipsis-v"></i>
                          <ul>
                            <li class="active"><i class="fa fa-check"></i><a title="" href="forum-create-topic.html#">Show Public</a></li>
                            <li><a title="" href="forum-create-topic.html#">Show only Friends</a></li>
                            <li><a title="" href="forum-create-topic.html#">Hide all Posts</a></li>
                            <li><a title="" href="forum-create-topic.html#">Mute Notifications</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div> -->
                </div>
              </div>
            </div><!-- title block -->
          </div>
          <br><br>
          <div class="forum-form">
            <div class="central-meta">
              <form method="post" action="{% url 'home:updatepost' post.id %}" enctype="multipart/form-data" class="c-form">{% csrf_token %}
                {% if post.image %}
                <span class="create-post">Edit Post Image</span>
                <div class="attachments">
                  <ul>
                    <li>
                      <i class="fa fa-plus"></i>
                      <label class="fileContainer">
                      </label>
                    </li>
                    <li>
                      <i class="fa fa-image"></i>
                      <label class="fileContainer">
                        <input name="image" type="file">
                      </label>
                    </li>
                  </ul>
								</div>
                <p>{{ post.image.url }}</p>
                {% else %}
                <span class="create-post">
                  {% if messages %}

                      {% for message in messages %}
                        <small {% if message.tags %} class="error-msg"{% endif %} style='color:#da3d3d'>{{ message }}</small>
                      {% endfor %}
                  {% else %}

                  This post has no image
                  {% endif %}
                </span>
                <div class="attachments">
                  <ul>
                    <li>
                      <i class="fa fa-plus"></i>
                      <label class="fileContainer">
                      </label>
                    </li>
                    <li>
                      <i class="fa fa-image"></i>
                      <label class="fileContainer">
                      </label>
                    </li>
                  </ul>
								</div>
                <p>This post has no image</p>
                {% endif %}
                <br><br>
									<div>
                    <span class="create-post">Edit Post Body</span>
										<textarea name="body" rows="3"  placeholder="{{ post.body }}">{{ post.body }}</textarea>
									</div>

									<div>
										<button class="main-btn owez-js-btn" type="submit" data-ripple="">Update</button>
									</div>
								</form>
            </div>
          </div>
        </div>
      </div>
      <br><br>
    </div>
    <br><br><br><br>
  </div>
</section>
{% endblock content %}
